@using System
@using Newtonsoft.Json
@model Rsk.AspNetCore.Fido.Dtos.Base64FidoRegistrationChallenge
@{
	Layout = null;
}

<!doctype html>
<head>
	<meta charset="utf-8" />
	<title>Credential registration</title>
	<link rel="stylesheet" type="text/css" href="~/css/register.css">
</head>
<html>
	<body>
		<section>
		<h2 class="authenticate">Use your authenticator</h2>
		<p class="instruction">Follow the instructions on your screen, @Model.UserId.</p>
		<form id="register-form" method="post">
			<button class = "btn" type="submit">submit</button>
		</form>
		</section>
		<script>
			var challengeInput = "@Html.Raw(Model.Base64Challenge)";
			var relPartyInput = "@Model.RelyingPartyId";
			var userHandleInput = "@Html.Raw(Model.Base64UserHandle)";
			var userIdInput = "@Model.UserId";
			var displayNameInput = "@Html.Raw(Model.DeviceFriendlyName)";
			var excludeKeyIds = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Base64ExcludedKeyIds))');
		</script>
	<script src="~/js/fido.register.js"></script>
	</body>
</html>