@model Rsk.AspNetCore.Fido.Dtos.Base64FidoRegistrationChallenge;
@{
	Layout = null;
}

<!doctype html>
<head>
	<meta charset="utf-8" />
<title>Credential registration</title>
</head>
<html>
	<body>
		<h2>Use your authenticator</h2>
		<p>Follow the instructions on your screen, @Model.UserId.</p>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.js"></script>
<script>
    let challengeBytesAsString = atob("@Html.Raw(Model.Base64Challenge)");
    let challenge = new Uint8Array(challengeBytesAsString.length);
    for (let i = 0; i < challengeBytesAsString.length; i++) {
      challenge[i] = challengeBytesAsString.charCodeAt(i);
    }
    const pbc =  [
        { type: "public-key", alg: -7 },
        { type: "public-key", alg: -257},
    ];
    let rp = { id: "@Model.RelyingPartyId", name: "Fido test server" };
    let userHandleBytes = atob("@Html.Raw(Model.Base64UserHandle)");
    let userHandle = new Uint8Array(userHandleBytes.length);
    for (let i = 0; i < userHandleBytes.length; i++){
        userHandle[i] = userHandleBytes.charCodeAt(i);
    }
    let user = {
        name: "@Model.UserId",
        displayName: "@Model.UserId",
        id: userHandle
    };
    let as = {
        authenticatorAttachment: "platform",
        userVerification : "preferred"
    };

    navigator.credentials.create({ publicKey: { challenge, rp, user, pubKeyCredParams : pbc, authenticatorSelection : as} })
        .then((credentials) => {
            let encCreds = {
                id: credentials.id,
                rawId: btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.rawId))),
                type: credentials.type,
                response: {
                    attestationObject:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.response.attestationObject))),
                    clientDataJSON:
                    btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.response.clientDataJSON)))
                }
            };
        
            $.ajax({
                url: '/Fido/CompleteRegistration',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(encCreds),
                success: function(){
                    window.location.href = "/";
                },
                error: function(){
                    console.error("Error in sendings credentials to the server.");
                }
            })
        })
        .catch((error) => {
            console.log(error);
        });
</script>
	</body>
</html>