@model Rsk.AspNetCore.Fido.Dtos.Base64FidoRegistrationChallenge;
@{
	Layout = null;
}

<!doctype html>
<head>
	<meta charset="utf-8" />
<title>Credential registration</title>
</head>
<html>
	<body>
		<h2>Use your authenticator</h2>
		<p>Follow the instructions on your screen, @Model.UserId.</p>
		<form id="register-form" method="post">
			<button type="submit">submit</button>
		</form>
		<script>
			var challengeInput = "@Html.Raw(Model.Base64Challenge)";
			var relPartyInput = "@Model.RelyingPartyId";
			var userHandleInput = "@Html.Raw(Model.Base64UserHandle)";
			var userIdInput = "@Model.UserId";
		</script>
	<script src="~/js/fido.register.js"></script>
	</body>
</html>